
.md-nav--primary .md-nav__title,
.md-nav--secondary .md-nav__title {
    background: none;
    box-shadow: none;
}


/* .md-container {
    background-image: url("https://images.unsplash.com/photo-1547999962-65403ca852f9?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; /* optional parallax-like effect */
} */
